body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.App {
    text-align: center;
}

#part-one {
    width: 70%;
    margin: 80px auto;
    padding-left: 100px;
}

#part-two {
    width: 30%;
    margin: 80px auto;
}

#wrapper {
    display: flex;
    min-width: 1000px;
    height: 500px;
}

.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
}
